<!DOCTYPE html>
<html ng-app='movieApp'>

<head>
    <meta charset="utf-8">
    <title>Angular Movie Lab</title>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.js'></script>
    <script type="text/javascript" src='app.js'></script>
</head>

<body>
    <div ng-controller='MovieCtrl as movies' ng-init = 'limit = 5' >
        <ng-pluralize count="movies.moviesToWatch.length" when="{
        '0': 'No movies.',
        '1': 'One movie is avalible to viewers.',
        'other': '{} movies are avalible to viewers.'}">
        </ng-pluralize>
        <br>
        <ul>
            <li ng-repeat="movie in movies.moviesToWatch | orderBy: '-title' | limitTo: limit">
                {{movie.title}}
                {{movie.length}}
                <span ng-click = 'movies.deleteMovie(movie)'><img src="trash.png" width="30px" height="30px" style="float:right"/></span>
                <span ng-click = 'movies.watchedMovie(movie)'><img src="eye.png" width="30px" height="30px" style="float:right"/></span>
                <div ng-Pluralize='moviesToWatch'>
                    "`{{moviesToWatch.length}}` movies to watch"
                </div>
                <hr>
            </li>
        </ul>


      <form ng-submit="movies.submit(newMovie)" >
        Enter text and hit enter:
        <input type="text" ng-model="newMovie" name="text" />
        <input type="submit" id="submit" value="Add" />
        <button ng-click = 'limit = movies.moviesToWatch.length' type="button" name="button">Show More</button>
      </form>
    </div>
</body>

</html>
